@font-face {
    font-family: 'googleSans';
    src: url('../fonts/google-sans.ttf') format("truetype");
}
body{
    font-family: 'googleSans';
    /* letter-spacing: .4px; */
}
h1{
    margin: 0;
}
p{
    margin: 0;
}
.center{
    text-align: center;
}
.loginPage{
    background: #8854D0;
    height: 100vh;
}
.logoWrapper{
    text-align: center;
}
.logoBrand{
    width: 120px;
    margin: 50px 0 20px 6px;
}
.loginWrapper{
    width: 28%;
    margin: 0 auto;
    color: white;
}
.loginHeader{
    text-align: center;
}
.loginHeader > h1 {
    margin-bottom: 12px;
    font-size: 36px;
}
.loginHeader > p {
    opacity: .8;
    margin-bottom: 12px;
    font-size: 18px;
}
input[type="email"], input[type="password"] {
    width: 94%;
    height: 32px;
    background: rgba(5, 5, 5, .1);
    border-radius: 4px;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, .8);
    border: none;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    
}
::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
}
.wrapperInputPassword{
    position: relative;
}
.showPassword{
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 2px;
}
.showPassword > img {
    width: 15px;
    opacity: .8;
}
label{
    display: inline-block;
    margin-bottom: 8px;
}
.btnLogin{
    width: 100%;
    background: #FAC024;
    border: none;
    border-radius: 4px;
    color: #050505;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0 10px 0;
    margin-top: 18px;
    margin-bottom: 12px;
}
.spaceBetween{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.forgetPassword{
    color: #FAC024;
    text-decoration: none;
}
.labelRagister{
    color: #FAC024;
}
.labelRagister > a {
    color: #FAC024;
    text-decoration: none;
    font-weight: 600;
    margin-left: 4px;
}
.navWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 20px rgba(5, 5, 5, 0.04);
    padding: 6px 40px;
}
.logoNav{
    width: 64px;
    vertical-align: middle;
    margin-right: 30px;
}
.searchWrapper{
    position: relative;
}
.inputSearch{
    width: 380px;
    height: 28px;
    background: #F0F2F5;
    border: none;
    border-radius: 4px;
    padding-left: 34px;
}
.iconSearch{
    position: absolute;
    width: 16px;
    left: 10px;
    top: 2px;
}
.inputSearch::placeholder {
    color: #8A8C90;
    font-size: 14px;
}
.myCourse{
    color: #505050;
    margin-right: 48px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}
.switchInstructor{
    color: #8854D0;
    text-decoration: none;
    border: 1px solid #8854D0;
    border-radius: 6px;
    padding: 4px 6px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 18px;
}
.navUserPic > img {
    width: 30px;
}
.navUserPic{
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border: .5px solid rgb(214, 214, 214);
    border-radius: 50%;
    vertical-align: middle;
}
.cardCourse{
    box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.08);
    border-radius: 4px;
    margin: 8px 0px;
}
.cardCourseImg{
    /* width: 90%; */
    overflow: hidden;
}
.cardCourseImg > img {
    height: 117px;
}
.cardCourseDetail {
    padding: 8px 12px;
}
.cardCourseDetail > h6 {
    font-weight: bold;
    color: #050505;
    font-size: 14px;
    margin-bottom: 6px;
}
.cardCourseDetail > p {
    color: #8A8C90;
    font-size: 12px;
}
.wrepperContent{
    padding: 20px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 8px;
    padding-left: 8px;
}